@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private bool isAuthenticationChecked = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                // Example of a safe check or operation
                var isClientSide = await JSRuntime.InvokeAsync<bool>("isClientSide");
                if (isClientSide)
                {
                    var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
                    var user = authState.User;

                    if (!authState.User.Identity.IsAuthenticated)
                    {
                        NavigationManager.NavigateTo("/login");
                    }
                    isAuthenticationChecked = true;
                }
            }
            catch (Exception ex)
            {
                // Handle or log the exception as needed
            }
        }
    }
}