@using CSVv2.Models
@using NetcodeHub.Packages.Components.Modal


<div class="card">
    <div class="card-body">
        <h5 class="card-title">@FileName</h5>
        <p class="card-text">@UploadedTime.ToString("g")</p>
        <button @onclick="() => ShowEditModal(Id)" class="btn btn-secondary">Edit</button>
        <button @onclick="(() =>ShowDeleteConfirmation(Id))" class="btn btn-danger">Delete</button>
    </div>
</div>

<Confirmation
    @ref="confirmation"
    Instruction="@instruction"
    Action="Action"
    BoostrapClass="border-danger"
    CustomStyle="width:300px"/>


@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public string FileName { get; set; }
    [Parameter] public DateTime UploadedTime { get; set; }
    [Parameter] public EventCallback<int> OnEdit { get; set; }
    [Parameter] public EventCallback<int> OnDelete { get; set; }

    Confirmation? confirmation;
    public string? instruction { get; set; } = "Are you sure you want to delete the file?";

    void Action()
    {

    }

    private async void ShowDeleteConfirmation(int csvFileId)
    {
        await confirmation.Show();
    }

    private async Task ShowEditModal(int csvFileId)
    {
        
    }

}
