@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime


<style>
    .unauthorized-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 1rem;
    }

    .login-card {
        max-width: 400px;
        width: 100%;
        margin: auto;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
                </div>

                <article class="content px-4">
                        @Body
                </article>

            </main>
            
        </Authorized>
        <NotAuthorized>
            <div class="unauthorized-container">
                    @Body
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private bool isAuthenticationChecked = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                // Example of a safe check or operation
                var isClientSide = await JSRuntime.InvokeAsync<bool>("isClientSide");
                if (isClientSide)
                {
                    var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
                    var user = authState.User;

                    if (user.Identity is not null && user.Identity.IsAuthenticated)
                    {
                        // User is authenticated
                    }
                    else
                    {
                        // User is not authenticated
                    }
                    isAuthenticationChecked = true;
                }
            }
            catch (Exception ex)
            {
                // Handle or log the exception as needed
            }
        }
    }
  
}

